@import 'all.css';
#login-form input[type=text]:hover,
#login-form input[type=text]:focus,
#login-form input[type=password]:hover,
#login-form input[type=password]:focus {
  background: #fff;
  box-shadow: 0 0 5px 3px #498aaa;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
#login-form input[type=text]:focus,
#login-form input[type=password]:focus {
  background: #fff !important;
}
#login-form input[type=submit]:hover {
  background: #baed23;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
#login-form input[type=text]:not(:hover),
#login-form input[type=text]:not(:focus),
#login-form input[type=password]:not(:hover),
#login-form input[type=password]:not(:focus) {
  background: #e2e2e2;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
#login-form input[type=text]:not(:focus),
#login-form input[type=password]:not(:focus) {
  background: #e2e2e2;
}
.textbox-focus {
  box-shadow: 0 0 5px 3px #498aaa;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.textbox-out {
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
#left-panel-parent {
  width: 70%;
  height: 700px;
  float: left;
  overflow: hidden;
  position: relative;
  border: 1px solid #808080;
  -webkit-box-shadow: -1px 1px 8px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 1px 8px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 1px 8px 0px rgba(0,0,0,0.75);
}
#left-panel {
  overflow: scroll;
  position: absolute;
  right: -20px;
  bottom: -20px;
  top: 0;
  left: 0;
}
#right-panel {
  width: 30%;
  float: left;
  overflow: hidden;
}
#save-record-zone {
  background: rgba(11,144,226,0.8);
  position: absolute;
  -webkit-box-shadow: 0 6px 6px 5px rgba(23,153,234,0.15);
  -moz-box-shadow: 0 6px 6px 5px rgba(23,153,234,0.15);
  box-shadow: 0 6px 6px 5px rgba(23,153,234,0.15);
  border-radius: 0px 0px 24px 24px;
  -moz-border-radius: 0px 0px 24px 24px;
  -webkit-border-radius: 0px 0px 24px 24px;
  border: 0px solid #000;
  cursor: pointer;
  z-index: 1;
  left: auto;
  right: 0;
  top: 0;
  width: 43%;
}
.content-overflow {
  -webkit-box-shadow: -20px -32px 21px -18px #f54500 inset;
  -moz-box-shadow: -20px -32px 21px -18px #f54500 inset;
  box-shadow: -20px -32px 21px -18px #f54500 inset;
}
#save-record-main-bound {
  overflow: hidden;
  width: 102%;
}
#save-record-main-content {
  display: none;
  min-height: 100px;
  overflow-y: scroll;
  width: 101%;
  visibility: hidden;
  max-height: 500px;
}
#save-record-main-content>div {
  background: rgba(68,131,214,0.1);
}
#save-record-title {
  color: #00f;
  font-size: 14pt;
  font-weight: 700;
  position: fixed;
  right: -45px;
  text-align: center;
  top: 40%;
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
#save-record-title>div {
  background: #638193 none repeat scroll 0 0;
  border: 1px solid;
  color: #fff;
  margin: 5px auto;
  padding: 4px;
  width: 120px;
}
.inline {
  display: inline-block;
}
#key-static-info {
  text-align: center;
  border-top: dotted 1px;
  border-bottom: dotted 1px;
  padding: 5px 0 12px 12px;
  margin-top: 19px;
}
#key-static-info>table {
  margin: 6px 10px 0 -13px;
  width: 100%;
  margin-top: 6px;
}
#key-static-info>table span {
  background: #04a1c9 none repeat scroll 0 0;
  border: 0 solid;
  border-radius: 5px;
  display: inline-block;
  min-width: 60px;
  padding: 3px 6px;
  font-size: 12pt;
  color: #fff;
  font-weight: bold;
}
.mark {
  background: #8ae177 none repeat scroll 0 0 !important;
  color: #000 !important;
}
#form-edit-zone1 {
  background: rgba(173,198,198,0.7) none repeat scroll 0% 0%;
  padding-bottom: 8px;
  border-bottom: solid 1px #adc6c6;
}
#img-buttons {
  border-bottom: 2px solid #adc6c6;
  float: left;
  padding-right: 40px;
  text-align: right;
  width: 70%;
}
.img-button-focus {
  background: #f85032 !important;
  background: -moz-linear-gradient(-45deg, #f85032 0%, #f16f5c 28%, #f6290c 33%, #f02f17 71%, #e73827 100%) !important;
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #f85032), color-stop(28%, #f16f5c), color-stop(33%, #f6290c), color-stop(71%, #f02f17), color-stop(100%, #e73827)) !important;
  background: -webkit-linear-gradient(-45deg, #f85032 0%, #f16f5c 28%, #f6290c 33%, #f02f17 71%, #e73827 100%) !important;
  background: -o-linear-gradient(-45deg, #f85032 0%, #f16f5c 28%, #f6290c 33%, #f02f17 71%, #e73827 100%) !important;
  background: -ms-linear-gradient(-45deg, #f85032 0%, #f16f5c 28%, #f6290c 33%, #f02f17 71%, #e73827 100%) !important;
  background: linear-gradient(135deg, #f85032 0%, #f16f5c 28%, #f6290c 33%, #f02f17 71%, #e73827 100%) !important;
}
.img-button:hover {
  cursor: pointer;
}
.img-button {
  background: #e4f5fc;
/* Old browsers */
  background: -moz-linear-gradient(-45deg, #e4f5fc 0%, #bfe8f9 18%, #9fd8ef 27%, #2ab0ed 100%);
/* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #e4f5fc), color-stop(18%, #bfe8f9), color-stop(27%, #9fd8ef), color-stop(100%, #2ab0ed));
/* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #e4f5fc 0%, #bfe8f9 18%, #9fd8ef 27%, #2ab0ed 100%);
/* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #e4f5fc 0%, #bfe8f9 18%, #9fd8ef 27%, #2ab0ed 100%);
/* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #e4f5fc 0%, #bfe8f9 18%, #9fd8ef 27%, #2ab0ed 100%);
/* IE10+ */
  background: linear-gradient(135deg, #e4f5fc 0%, #bfe8f9 18%, #9fd8ef 27%, #2ab0ed 100%);
/* W3C */
  border: 0 solid;
  color: #fff;
  display: inline-block;
  font-size: 16pt;
  font-weight: bold;
  line-height: 37px;
  margin: 0 2px;
  text-align: center;
  width: 46px;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
#right-panel-empty {
  display: inline-block;
  float: right;
  width: 30%;
  position: relative;
}
#right-panel form {
  font-size: 16pt;
}
#right-panel form select {
  font-size: 19px;
  line-height: 33px;
  margin: 4px;
  width: 38%;
}
#right-panel form input {
  border: 1px solid #ddd;
  font-size: 19px;
  line-height: 33px;
  margin: 4px;
  border-radius: 4px;
  padding: 2px 6px;
  width: 42%;
  text-transform: uppercase;
}
#right-panel form input:focus {
  font-weight: bold;
}
#right-panel form div>div.inline {
  margin-right: 12px;
  text-align: right;
  width: 210px;
}
.rec input {
  margin: 2px 4px;
}
.rec {
  width: 90%;
  margin: 5px auto;
  text-align: center;
  border-radius: 14px;
}
#right-panel form span {
  color: #f00;
  display: block;
  font-size: 12pt;
  margin-left: 181px;
}
.header-inline {
  display: inline-block;
  width: 14%;
}
.p {
  margin-top: 6px;
  border-bottom: dotted #9d9d9d;
  padding-bottom: 10px;
}
.p strong {
  display: inline-block;
  margin: 0 20px;
  min-width: 100px;
}
.cmd:hover {
  background: #000 none repeat scroll 0 0;
  color: #fff;
}
.cmd {
  background: #fff none repeat scroll 0 0;
  border: 0 solid #9c9c9c;
  display: inline-block;
  font-weight: bold;
  margin: 0 2px;
  padding: 2px 4px;
}
#discard-form {
  background: #ff6100 none repeat scroll 0 0;
  margin: 8px;
  padding: 8px;
  display: none;
}
#discard-form>div>strong {
  display: inline-block;
  margin-right: 20px;
}
#user-cmd-zone {
  direction: rtl;
  margin-right: 8px;
  margin-top: 10px;
  text-align: right;
}
.user-cmd {
  border: 1px solid;
  border-radius: 6px;
  font-weight: bold;
  width: 20px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}
.user-cmd-other {
  display: inline-block;
  margin: 0 0 0 4px;
/*overflow: hidden;*/
}
#addition-info>.inline {
  background: #00a9f7 none repeat scroll 0 0;
  border: medium none;
  border-radius: 6px;
  margin: 5px;
  padding: 2px 6px;
}
.btn-on {
  display: inline-block;
  border: medium none;
  background: #8ae177 none repeat scroll 0% 0% !important;
  padding: 4px 8px;
  border-radius: 17px;
}
.btn-addon {
  display: inline-block;
  border: medium none;
  background: #bababa none repeat scroll 0% 0%;
  padding: 4px 8px;
  border-radius: 17px;
  cursor: pointer;
}
.rank_1 {
  background: #f00 url("http://icons.iconarchive.com/icons/fatcow/farm-fresh/16/crown-gold-icon.png") no-repeat scroll 5px center;
  border: 1px solid;
  border-radius: 11px;
  color: #ff0;
  margin: 2px;
  padding: 5px 5px 5px 24px;
}
.rank_2 {
  background: #8dddf2 url("http://icons.iconarchive.com/icons/custom-icon-design/pretty-office-11/128/number-2-icon.png") no-repeat scroll 1px 1px/16px auto;
  border: 1px solid;
  color: #f00;
  margin: 2px;
  padding: 5px 5px 5px 20px;
}
.rank_3 {
  background: #8dddf2 url("http://www.dreamlookup.com/assets/img/3.png") no-repeat scroll 1px 1px/24px auto;
  border: 1px solid;
  color: #f00;
  margin: 2px;
  padding: 5px 5px 5px 26px;
}
.rank_4 {
  background: #fff url("http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/3d-glossy-blue-orbs-icons-alphanumeric/067957-3d-glossy-blue-orb-icon-alphanumeric-number-4.png") no-repeat scroll 1px 1px/24px auto;
  border: 1px solid;
  color: #00f;
  margin: 2px;
  padding: 5px 5px 5px 26px;
}
.rank_5 {
  background: #fff url("http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/3d-glossy-green-orbs-icons-alphanumeric/102991-3d-glossy-green-orb-icon-alphanumeric-number-5.png") no-repeat scroll 1px 1px/24px auto;
  border: 1px solid;
  color: #00f;
  margin: 2px;
  padding: 5px 5px 5px 26px;
}
.rank_6,
.rank_7,
.rank_8,
.rank_9 {
  background: #fff url("http://downloadiconsfree.com/wp-content/uploads/2013/06/free-social-gold-star-icon.jpg") no-repeat scroll 2px center/24px auto;
  border: 1px solid;
  color: #fc0;
  font-style: italic;
  font-weight: bold;
  margin: 2px;
  padding: 5px 5px 5px 26px;
  text-decoration: underline;
}
.DL {
  background: rgba(0,0,0,0) linear-gradient(135deg, #e4f5fc 0%, #bfe8f9 18%, #9fd8ef 27%, #2ab0ed 100%) repeat scroll 0 0;
  border: 0 solid;
  border-radius: 5px 5px 0 0;
  color: #fff;
  display: inline-block;
  font-size: 16pt;
  font-weight: bold;
  line-height: 37px;
  margin: 0 2px;
  text-align: center;
  width: 46px;
}
